
.text-normal{
    font-size: 170%;
    font-weight: lighter;
}
#header nav{
    box-shadow: 0px 2px 9px 10px rgb(60 64 67 / 20%);
    border-bottom: 1px solid #dedede;
    background-color: white;
}
#header .navbar-brand{
    width: 30%;
}

#header nav img{
    width: 80%;
}
#header .nav-link{
    color: #727272;
    font-size: 1.1rem;
}
#header .nav-link:hover{
    color: #0087c1;
}
main #home{
    margin-top: 15vh !important;
    min-height: 60vh;
}
main #home h1{
    font-weight: 400;
}
main #home img{
    width: 100%;
}

main #about-us,main #contact{
    background-color: #0087c1;
}

main #about-us img{
    width: 100%;
}
main #about-us .text-normal{
    text-transform: justify;
}
#contact .contact-container{
    min-height: 200px;
    width: 350px;
    border-radius: 15px;
}
#contact .fas,.fab{
    color: #0087c1;
    font-size: 270%;
    margin-top: 15%;
}
#contact .phone-description{
    font-size: 80%;
}
@media (max-width: 900px){
    #header nav img{
        width: 150%;
    }
}
@media (max-width: 480px){
    main #home{
        margin-top: 0 !important;
    }
}