#header nav{
    box-shadow: 0px 2px 9px 10px rgb(60 64 67 / 20%);
    border-bottom: 1px solid #dedede;
    background-color: white;
}
#header .navbar-brand{
    width: 30%;
}

#header nav img{
    width: 80%;
}
#header .nav-link{
    color: #727272;
    font-size: 1.1rem;
}
#header .nav-link:hover{
    color: #0087c1;
}
main #home{
    margin-top: 15vh !important;
    min-height: 60vh;
}
main #home img{
    width: 100%;
}

main #about-us{
    background-color: #0087c1;
    min-height: 50vh;
}

main #about-us img{
    width: 100%;
}
@media (max-width: 900px){
    #header nav img{
        width: 150%;
    }
}